Show Posts From
<ul id="sources" class="secondary-nav source-list">
    {{#each sources}}
        <li>
            <input type="checkbox" id="chkSource{{id}}" />
            <label for="chkSource{{id}}">{{name}}</label>
        </li>
    {{/each}}
</ul>