<div class="image-row">
    {{#each .}}
        <div class="image" style="width: {{viewWidth}}px; background-image: url(//beta.redditbooru.com/cache/{{thumbUrl}}_300_300.jpg);" data-id="{{postId}}"></div>
    {{/each}}
</div>